<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>endTime = 0;</script>
        <script type="text/javascript" src="javascripts/coolclock.js"></script>
        <script type="text/javascript" src="javascripts/moreskins.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
      <div class="sidebar">
        <div class="logo">
        </div>
        <div class="navbar">
        <div class="round">
          CODE CRUNCH
        </div>
      </div>
      </div>
      <div class="content">
        <div class="roundinfo">
          <div class="probleminfo">
            <div class="problemname">
              WELCOME, <%= user.name %>!
            </div>
            <div class="problemdescription">
              When the contest begins, press the "Next" button to continue.
            </div>
          </div>
          <div class="iconpanel">
            <div class="clockcontainer">
              <canvas class="CoolClock:Tes2:100 clock"></canvas>
            </div>
            <div class="miscinfo">
            </div>
          </div>
        </div>
        <div class="main">
          <div id="editor" contenteditable>
            You will be able to edit here in each round. Play around if you like.
          </div>
          <div class="submitarea">
            <div class="submitbar">
              <ul>
                <li class="lang buttonpressed">Java</li>
                <li class="lang button">C++</li>
                <li class="lang button">Python</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navnext" style="display: none;">
        <div class="next button"><a href="/round1">NEXT&#8594;</a></div>
      </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      lang = 'Java';
      $(document).ready(function() {
        $('.lang').on('mousedown', function() {
          $('.lang').attr('class', 'lang button');
          $(this).attr('class', 'lang buttonpressed');
          lang = $(this).text();
        });
        window.setInterval(function() {
          var diff = Math.max(0, endTime - new Date());
          var min = Math.floor(diff / 60000);
          var sec = ('00' + (Math.floor(diff / 1000) % 60)).slice(-2);
          $('.miscinfo').text(min + ':' + sec);
        }, 1000);
        var socket = io.connect('http://localhost:8080');
        socket.on('preRound', function(data) {
          endTime = new Date(new Date().valueOf() + data.time * 1000);
        });
        socket.on('startRound', function (data) {
          if (data.round >= 1) {
            $('.navnext').show();
          }
        });
        socket.emit('round', {});
      });
    </script>
</html>
