<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>endTime = 0; round = 1;</script>
        <script type="text/javascript" src="javascripts/coolclock.js"></script>
        <script type="text/javascript" src="javascripts/moreskins.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
      <div class="sidebar">
        <div class="logo">
        </div>
        <div class="navbar">
        <div class="round">
        </div>
        <div class="problemlist">
          <ul id="problems">
          </ul>
        </div>
      </div>
      </div>
      <div class="content">
        <div class="roundinfo">
          <div class="probleminfo">
            <div class="problemname">
            </div>
            <div class="problemdescription">
            </div>
          </div>
          <div class="iconpanel">
            <div class="clockcontainer">
              <canvas class="CoolClock:Tes2:100 clock"></canvas>
            </div>
            <div class="miscinfo">
            </div>
          </div>
        </div>
        <div class="main">
          <div id="editor" contenteditable>
          </div>
          <div class="submitarea">
            <div class="submitbar">
              <ul>
                <li class="lang buttonpressed">Java</li>
                <li class="lang button">C++</li>
                <li class="lang button">Python</li>
              </ul>
              <div class="submit button">Submit</div>
            </div>
          </div>
        </div>
      </div>
      <div class="navprev">
        <div class="next button"><a href="/home">&#8592;Home</a></div>
      </div>
      <div class="navnext" style="display: none;">
        <div class="next button"><a href="/round2">NEXT&#8594;</a></div>
      </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/common.js"></script>>
    </script>
</html>
